/* Main Registration Section */
.section-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* Adjust space below navbar */
}

/* Registration Image */
.registration-image {
  flex: 1;
  max-width: 100%;
  padding-left: 200px;
}

.registration-image img {
  max-width: 400px;
  height: 370px;
 
}

/* Registration Form */
.registration-form {
  flex: 2;
  max-width: 70%;
  padding: 20px;
}

.registration-form h2 {
  font-size: 28px;
  margin-bottom: 20px;
  
  color: #3377b6;
}

.registration-form form {
  width: 50%;
}

/* Form Input Styling */
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Submit Button Styling */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Label and heading styling */
label, h4 {
  color: #0e426f;
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

/* Mobile Responsive (max-width: 400px) */
@media (max-width: 475px) {
  /* Adjust Navbar */
  .navbar {
    position: relative; /* If fixed navbar, set to fixed or stick top */
    top: 0;
    width: 100%;
    z-index: 10;
  }

  /* Image Adjustments */
  .registration-image {
    display: none !important;
    padding-left: 0;
    display: flex;
    justify-content: center;
    width: 100%; /* Image container full width */
  }

  .registration-image img {
    width: 100px; /* Make image smaller */
    height: auto;
  }

  /* Form adjustments */
  .registration-form form {
    width: 100%; /* Form full width */
  }

  .registration-form h2 {
    font-size: 22px;
    margin-top: 30px;
  }

  /* Optional: Adjust font sizes for mobile */
  label, h4 {
    font-size: 16px;
  }

  h5 {
    font-size: 14px;
  }
}
